ngineagent/n8n/n8n_cip_correction.json
{
  "name": "NgineAgent — CIP Correction Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ngine-correct",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-correct",
      "name": "Webhook: Correction Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NGINE_ENGINE_URL }}/correction/apply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Basic {{ $env.NGINE_BASIC_AUTH }}" }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "original_file", "value": "={{ $binary.original }}", "parameterType": "formBinaryData" },
            { "name": "worksheet_file", "value": "={{ $binary.worksheet }}", "parameterType": "formBinaryData" }
          ]
        },
        "options": {}
      },
      "id": "post-apply",
      "name": "POST /correction/apply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Return Cleaned Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Webhook: Correction Request": { "main": [[{ "node": "POST /correction/apply", "type": "main", "index": 0 }]] },
    "POST /correction/apply": { "main": [[{ "node": "Return Cleaned Result", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "CIP correction: takes original catalog + a filled publisher-decision worksheet, calls the live engine (POST /correction/apply), returns the cleaned catalog + after-score." }
}
