ngineagent/n8n/n8n_dip_intake.json
{
  "name": "NgineAgent — DIP Intake & Routing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ngine-dip-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-intake",
      "name": "Webhook: DIP Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NGINE_ENGINE_URL }}/validation/validate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Basic {{ $env.NGINE_BASIC_AUTH }}" }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "file", "value": "={{ $binary.data }}", "parameterType": "formBinaryData" }
          ]
        },
        "options": {}
      },
      "id": "post-validate",
      "name": "Validate via Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.score }}",
              "rightValue": 80,
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "branch-score",
      "name": "Score >= 80 ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"route\": \"auto-accept\", \"score\": $json.score, \"message\": \"Catalog is CWR-ready — routed to ingestion.\", \"engine\": $json } }}",
        "options": {}
      },
      "id": "route-accept",
      "name": "Route: Auto-Accept",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1160, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"route\": \"needs-correction\", \"score\": $json.score, \"message\": \"Blocking issues found — route to correction worksheet.\", \"engine\": $json } }}",
        "options": {}
      },
      "id": "route-correct",
      "name": "Route: Needs Correction",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1160, 420]
    }
  ],
  "connections": {
    "Webhook: DIP Intake": { "main": [[{ "node": "Validate via Engine", "type": "main", "index": 0 }]] },
    "Validate via Engine": { "main": [[{ "node": "Score >= 80 ?", "type": "main", "index": 0 }]] },
    "Score >= 80 ?": {
      "main": [
        [{ "node": "Route: Auto-Accept", "type": "main", "index": 0 }],
        [{ "node": "Route: Needs Correction", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "DIP intake: validate incoming catalog via the live engine (POST /validation/validate), branch on CWR health score (>=80 auto-accept, else route to correction)." }
}
