ngineagent/n8n/n8n_metadata_validation.json
{
  "name": "NgineAgent — Metadata Validation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ngine-validate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-validate",
      "name": "Webhook: Catalog Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NGINE_ENGINE_URL }}/validation/validate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Basic {{ $env.NGINE_BASIC_AUTH }}" }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "file", "value": "={{ $binary.data }}", "parameterType": "formBinaryData" }
          ]
        },
        "options": {}
      },
      "id": "post-validate",
      "name": "POST /validation/validate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Return Validation Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Webhook: Catalog Upload": { "main": [[{ "node": "POST /validation/validate", "type": "main", "index": 0 }]] },
    "POST /validation/validate": { "main": [[{ "node": "Return Validation Result", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "Validates a catalog CSV via the live NgineAgent engine (POST /validation/validate) and returns the issues + CWR health score synchronously." }
}
