ngineagent/n8n/n8n_dip_intake.json
{
  "name": "NgineAgent — DIP Intake & Routing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ngine-dip-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-intake",
      "name": "Webhook: DIP Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NGINE_ENGINE_URL }}/api/upload/catalog",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [ { "name": "Authorization", "value": "=Bearer {{ $env.NGINE_API_TOKEN }}" } ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [ { "name": "file", "value": "={{ $binary.data }}", "parameterType": "formBinaryData" } ]
        },
        "options": {}
      },
      "id": "post-catalog",
      "name": "Validate via Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": { "amount": 3, "unit": "seconds" },
      "id": "wait",
      "name": "Wait for Scan",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.score }}",
              "rightValue": 80,
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "branch-score",
      "name": "Score >= 80 ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"route\": \"auto-accept\", \"run\": $json.job_id, \"score\": $json.score, \"message\": \"Catalog is CWR-ready — routed to ingestion.\" } }}",
        "options": {}
      },
      "id": "route-accept",
      "name": "Route: Auto-Accept",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1360, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"route\": \"needs-correction\", \"run\": $json.job_id, \"score\": $json.score, \"blocking\": $json.blocking, \"message\": \"Blocking issues found — routed to correction worksheet.\", \"worksheet_url\": $json.worksheet_url } }}",
        "options": {}
      },
      "id": "route-correct",
      "name": "Route: Needs Correction",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1360, 420]
    }
  ],
  "connections": {
    "Webhook: DIP Intake": { "main": [[{ "node": "Validate via Engine", "type": "main", "index": 0 }]] },
    "Validate via Engine": { "main": [[{ "node": "Wait for Scan", "type": "main", "index": 0 }]] },
    "Wait for Scan": { "main": [[{ "node": "Score >= 80 ?", "type": "main", "index": 0 }]] },
    "Score >= 80 ?": {
      "main": [
        [{ "node": "Route: Auto-Accept", "type": "main", "index": 0 }],
        [{ "node": "Route: Needs Correction", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "DIP intake: validate an incoming catalog, branch on CWR health score (>=80 auto-accept, else route to correction)." }
}
